{%extends "base.html"%}
{%block title %}
OCR & TTS Demo
{%endblock%}

{%block head%}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
{%endblock%}

{%block content%}
    <h1 class="mt-5 mb-4">OCR & TTS Demo</h1>
        <form method="POST" enctype="multipart/form-data" action="/upload">
            <div class="custom-file">
                <input type="file"  name="image" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <input type="submit" class="btn-success btn mt-2 w-100" value="Upload Picture">
        </form>
        <div class="alert alert-primary mt-5">
            Upload the image you want to process
        </div>
        <div class="alert alert-warning ">
            <p>
                Only support jpeg and png<hr>
                The size of picture should less then 2MB
            </p>
        </div>
        <div class="alert alert-success">
            Powerd by <a href="https://www.xfyun.cn/">iFlytek</a>
        </div>
{%endblock%}
{%block scripts%}
<script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>
{%endblock%}