audio{
    width: auto;
}
.footer {
    width: 100%;
    padding-top: 10px;
    /* Set the fixed height of the footer here */
    height: auto;
    min-height:50px;
    background-color: #f1eeee;
    color: #333
    /*color: #f9f9f9;*/
  }
  #FL{
      margin-bottom: 60px;
  }